In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
plt.style.use("ggplot") # Красивые графики
plt.rcParams["figure.figsize"]=(15,5)  # Размер картинок
pd.options.display.max_rows=7

In [3]:
new_date=pd.read_csv("../resources/popularity-contest.txt",sep=" ")[:-1] # без учета последней строки

In [4]:
new_date.columns=['atime', 'ctime', 'package-name', 'mru-program', 'tag']

In [5]:
new_date

,atime,ctime,package-name,mru-program,tag
0,1387295797,1367633260,perl-base,/usr/bin/perl,NaN
1,1387295796,1354370480,login,/bin/su,NaN
2,1387295743,1354341275,libtalloc2,/usr/lib/x86_64-linux-gnu/libtalloc.so.2.0.7,NaN
...,...,...,...,...,...
2894,0,0,python-apt-common,<NOFILES>,NaN
2895,0,0,libindicator-messages-status-provider1,<NOFILES>,NaN
2896,0,0,libusbmuxd1,<NOFILES>,NaN

In [6]:
# преобразуем в целые числа:
new_date["atime"]=new_date["atime"].astype(int)
new_date["ctime"]=new_date["ctime"].astype(int)

In [7]:
new_date["atime"]=pd.to_datetime(new_date["atime"],unit="s")
new_date["ctime"]=pd.to_datetime(new_date["ctime"],unit="s")

In [8]:
new_date.dtypes

atime           datetime64[ns]
ctime           datetime64[ns]
package-name            object
mru-program             object
tag                     object
dtype: object

In [9]:
new_date["atime"].dtype

dtype('<M8[ns]')

In [10]:
new_date["ctime"].dtype

dtype('<M8[ns]')

In [11]:
new_date

,atime,ctime,package-name,mru-program,tag
0,2013-12-17 15:56:37,2013-05-04 02:07:40,perl-base,/usr/bin/perl,NaN
1,2013-12-17 15:56:36,2012-12-01 14:01:20,login,/bin/su,NaN
2,2013-12-17 15:55:43,2012-12-01 05:54:35,libtalloc2,/usr/lib/x86_64-linux-gnu/libtalloc.so.2.0.7,NaN
...,...,...,...,...,...
2894,1970-01-01 00:00:00,1970-01-01 00:00:00,python-apt-common,<NOFILES>,NaN
2895,1970-01-01 00:00:00,1970-01-01 00:00:00,libindicator-messages-status-provider1,<NOFILES>,NaN
2896,1970-01-01 00:00:00,1970-01-01 00:00:00,libusbmuxd1,<NOFILES>,NaN

In [12]:
new_date=new_date[new_date["atime"]>"1970-01-01 00:00:00"]

In [13]:
new_date

,atime,ctime,package-name,mru-program,tag
0,2013-12-17 15:56:37,2013-05-04 02:07:40,perl-base,/usr/bin/perl,NaN
1,2013-12-17 15:56:36,2012-12-01 14:01:20,login,/bin/su,NaN
2,2013-12-17 15:55:43,2012-12-01 05:54:35,libtalloc2,/usr/lib/x86_64-linux-gnu/libtalloc.so.2.0.7,NaN
...,...,...,...,...,...
2095,2010-03-06 14:44:18,2012-12-01 05:54:37,laptop-detect,/usr/sbin/laptop-detect,<OLD>
2096,2010-02-22 14:59:21,2012-12-01 05:54:14,libfribidi0,/usr/bin/fribidi,<OLD>
2097,2008-11-20 14:38:20,2012-12-01 05:54:57,libfile-copy-recursive-perl,/usr/share/perl5/File/Copy/Recursive.pm,<OLD>

In [14]:
noname=new_date[~new_date["package-name"].str.contains("lib")]

In [15]:
noname.sort_values("ctime",ascending=False)

,atime,ctime,package-name,mru-program,tag
57,2013-12-17 04:55:39,2013-12-17 04:55:42,ddd,/usr/bin/ddd,<RECENT-CTIME>
450,2013-12-16 20:03:20,2013-12-16 20:05:13,nodejs,/usr/bin/npm,<RECENT-CTIME>
454,2013-12-16 20:03:20,2013-12-16 20:05:04,switchboard-plug-keyboard,/usr/lib/plugs/pantheon/keyboard/options.txt,<RECENT-CTIME>
...,...,...,...,...,...
18,2013-12-17 15:55:32,2012-12-01 05:53:57,dash,/bin/dash,NaN
123,2013-12-17 04:07:16,2012-12-01 05:53:57,iproute,/sbin/ip,NaN
690,2013-12-16 19:51:47,2012-12-01 05:53:57,mount,/bin/mount,NaN

In [16]:
new_name=new_date["package-name"].str.contains("lib")

In [17]:
new_name=new_name.value_counts()

In [18]:
new_name

False    1216
True      882
Name: package-name, dtype: int64

In [19]:
# фильт по строкам с "lib"
tr_new_name=new_date["package-name"].str.contains("lib")
len(new_date[tr_new_name])

882

In [20]:
new_date[tr_new_name]["package-name"]

2                        libtalloc2
3                      libwbclient0
4                       libselinux1
                   ...
2094           libfile-basedir-perl
2096                    libfribidi0
2097    libfile-copy-recursive-perl
Name: package-name, Length: 882, dtype: object